---
http_interactions:
- request:
    method: get
    uri: https://app.cloudscrape.com/api/executions/5438f8a3-524e-429b-9791-de114f290931/?api_key=<CLOUD_SCRAPE_CLIENT_API_KEY_OVERRIDE>&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cloudscrape-Access:
      - d7818ef991012e3c94e8ea3cda149936
      X-Cloudscrape-Account:
      - "<CLOUD_SCRAPE_CLIENT_ACCOUNT_ID_OVERRIDE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_id":"5438f8a3-524e-429b-9791-de114f290931","state":"OK","starts":1444435154998,"finished":1444435159129}'
  recorded_at: Sat, 10 Oct 2015 00:03:28 GMT
recorded_with: VCR 2.9.3
