---
http_interactions:
- request:
    method: get
    uri: https://app.cloudscrape.com/api/executions/3a8ea1f2-6781-4371-841f-66f6210a27b9/?api_key=<CLOUD_SCRAPE_CLIENT_API_KEY_OVERRIDE>&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cloudscrape-Access:
      - d7818ef991012e3c94e8ea3cda149936
      X-Cloudscrape-Account:
      - "<CLOUD_SCRAPE_CLIENT_ACCOUNT_ID_OVERRIDE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_id":"3a8ea1f2-6781-4371-841f-66f6210a27b9","state":"OK","starts":1444436313493,"finished":1444436317128}'
  recorded_at: Sat, 10 Oct 2015 00:18:58 GMT
recorded_with: VCR 2.9.3
