---
http_interactions:
- request:
    method: post
    uri: https://app.cloudscrape.com/api/executions/3a8ea1f2-6781-4371-841f-66f6210a27b9/stop
    body:
      encoding: US-ASCII
      string: api_key=<CLOUD_SCRAPE_CLIENT_API_KEY_OVERRIDE>&format=json
    headers:
      Content-Type:
      - application/json
      X-Cloudscrape-Access:
      - d7818ef991012e3c94e8ea3cda149936
      X-Cloudscrape-Account:
      - "<CLOUD_SCRAPE_CLIENT_ACCOUNT_ID_OVERRIDE>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":true,"code":400}'
  recorded_at: Sat, 10 Oct 2015 00:19:02 GMT
recorded_with: VCR 2.9.3
