---
http_interactions:
- request:
    method: post
    uri: https://app.cloudscrape.com/api/executions/5438f8a3-524e-429b-9791-de114f290931/stop
    body:
      encoding: US-ASCII
      string: api_key=<CLOUD_SCRAPE_CLIENT_API_KEY_OVERRIDE>&format=json
    headers:
      Content-Type:
      - application/json
      X-Cloudscrape-Access:
      - d7818ef991012e3c94e8ea3cda149936
      X-Cloudscrape-Account:
      - "<CLOUD_SCRAPE_CLIENT_ACCOUNT_ID_OVERRIDE>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":true,"code":400}'
  recorded_at: Sat, 10 Oct 2015 00:15:20 GMT
recorded_with: VCR 2.9.3
