---
http_interactions:
- request:
    method: post
    uri: https://api.dexi.io/runs/27c719bb-f28f-49f5-aedf-dba2f8e60ba3/execute/bulk?connect=false
    body:
      encoding: UTF-8
      string: '{"api_key":"<CLOUD_SCRAPE_CLIENT_API_KEY_OVERRIDE>","format":"json","url":"http://www.google.com"}'
    headers:
      Content-Type:
      - application/json
      X-Cloudscrape-Access:
      - d7818ef991012e3c94e8ea3cda149936
      X-Cloudscrape-Account:
      - "<CLOUD_SCRAPE_CLIENT_ACCOUNT_ID_OVERRIDE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_id":"5226842f-175c-492f-835a-1f822676f10b","state":"PENDING","starts":1445017450586,"finished":null}'
  recorded_at: Fri, 16 Oct 2015 17:44:11 GMT
recorded_with: VCR 2.9.3
