---
http_interactions:
- request:
    method: post
    uri: https://api.dexi.io/runs/27c719bb-f28f-49f5-aedf-dba2f8e60ba3/execute?connect=false
    body:
      encoding: UTF-8
      string: '{"api_key":"<CLOUD_SCRAPE_CLIENT_API_KEY_OVERRIDE>","format":"json"}'
    headers:
      Content-Type:
      - application/json
      X-Cloudscrape-Access:
      - d7818ef991012e3c94e8ea3cda149936
      X-Cloudscrape-Account:
      - "<CLOUD_SCRAPE_CLIENT_ACCOUNT_ID_OVERRIDE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_id":"52f49f63-51e7-4ce3-90b4-6294814f8b34","state":"QUEUED","starts":1444566915065,"finished":null}'
  recorded_at: Sun, 11 Oct 2015 12:35:15 GMT
recorded_with: VCR 2.9.3
