---
http_interactions:
- request:
    method: post
    uri: https://app.cloudscrape.com/api/runs/27c719bb-f28f-49f5-aedf-dba2f8e60ba3/execute/inputs
    body:
      encoding: UTF-8
      string: '{"api_key":"<CLOUD_SCRAPE_CLIENT_API_KEY_OVERRIDE>","format":"json","url":"http://www.google.com"}'
    headers:
      Content-Type:
      - application/json
      X-Cloudscrape-Access:
      - d7818ef991012e3c94e8ea3cda149936
      X-Cloudscrape-Account:
      - "<CLOUD_SCRAPE_CLIENT_ACCOUNT_ID_OVERRIDE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_id":"283002e2-9117-4dd6-a830-5bdecd8889a6","state":"PENDING","starts":1444499841436,"finished":null}'
  recorded_at: Sat, 10 Oct 2015 17:57:22 GMT
recorded_with: VCR 2.9.3
